In [5]:
import pandas as pd
import os
from tqdm import tqdm
import json
import utils.utils as utils

dataset = {
    "Round1_T2D": {
        "tables": "./data/Dataset/Round1_T2D/tables",
        "cea":"./data/Dataset/Round1_T2D/gt/CEA_Round1_gt_WD.csv",
        "cpa":"./data/Dataset/Round1_T2D/gt/CPA_Round1_gt.csv",
        "cta": "./data/Dataset/Round1_T2D/gt/CTA_Round1_gt.csv"
    },
    "Round3": {
        "tables": "./data/Dataset/Round3_2019/tables/",
        "cea":"./data/Dataset/Round3_2019/gt/CEA_Round3_gt_WD.csv",
        "cpa":"./data/Dataset/Round3_2019/gt/CPA_Round3_gt.csv",
        "cta": "./data/Dataset/Round3_2019/gt/CTA_Round3_gt.csv"
    },
    "Round4": {
        "tables": "./data/Dataset/Round4_2020/tables/",
        "cea":"./data/Dataset/Round4_2020/gt/cea.csv",
        "cpa":"./data/Dataset/Round4_2020/gt/cpa.csv",
        "cta": "./data/Dataset/Round4_2020/gt/cta.csv"
    },
    "2T-2020": {
        "tables":"./data/Dataset/2T_Round4/tables/", 
        "cea":"./data/Dataset/2T_Round4/gt/cea.csv",
        "cpa": None,
        "cta": "./data/Dataset/2T_Round4/gt/cta.csv"
    },
    "HardTableR2-2021": {
        "tables":"./data/Dataset/HardTablesR2/tables/", 
        "cea":"./data/Dataset/HardTablesR2/gt/cea.csv",
        "cpa":"./data/Dataset/HardTablesR2/gt/cpa.csv",
        "cta": "./data/Dataset/HardTablesR2/gt/cta.csv"
    },
    "HardTableR3-2021": {
        "tables":"./data/Dataset/HardTablesR3/tables/", 
        "cea":"./data/Dataset/HardTablesR3/gt/cea.csv",
        "cpa":"./data/Dataset/HardTablesR3/gt/cpa.csv",
        "cta": "./data/Dataset/HardTablesR3/gt/cta.csv"
    },
    "mammotab": {
        "tables":"./data/Dataset/mammotab-sample/tables/", 
        "cea":"./data/Dataset/mammotab-sample/gt/cea.csv",
        "cpa":None,
        "cta": "./data/Dataset/mammotab-sample/gt/cta.csv"
    }
}

id_dataset = "2T-2020"
tables_path, cea_target_path, cpa_target_path, cta_target_path = list(dataset[id_dataset].values())

In [2]:
buffer = []
for id_dataset in dataset:
    tables_path, cea_target_path, cpa_target_path, cta_target_path = list(dataset[id_dataset].values())
    temp = utils.get_stats_on_dataset(cea_target_path, cpa_target_path, cta_target_path, tables_path)
    buffer.append(dict({"dataset":id_dataset},**temp))

100%|██████████| 64/64 [00:00<00:00, 363.79it/s]
100%|██████████| 2162/2162 [00:04<00:00, 472.35it/s]
100%|██████████| 22207/22207 [00:55<00:00, 399.66it/s]
100%|██████████| 181/181 [00:00<00:00, 225.34it/s]
100%|██████████| 3501/3501 [00:03<00:00, 1074.91it/s]
100%|██████████| 14414/14414 [00:12<00:00, 1178.68it/s]
100%|██████████| 13201/13201 [00:26<00:00, 506.49it/s]

In [3]:
pd.DataFrame(buffer)

,dataset,tables,columns,avg_columns,rows,avg_rows,classes,entities,predicates
0,Round1_T2D,64,323,5.05,9089,142.02,119,8078,115
1,Round3,2161,9736,4.51,152753,70.69,5761,390456,7574
2,Round4,22207,78750,3.55,475897,21.43,31921,994920,56475
3,2T-2020,180,802,4.46,194438,1080.21,539,667243,0
4,HardTableR2-2021,1750,5589,3.19,29280,16.73,2190,47439,3835
5,HardTableR3-2021,7207,17902,2.48,58949,8.18,7206,58948,10694
6,mammotab,13201,82499,6.25,283263,21.46,25169,279104,0