In [5]:
import pandas as pd
import os
from tqdm import tqdm
import json
import utils.utils as utils

dataset = {
    "Round1_T2D": {
        "tables": "./data/Dataset/Round1_T2D/tables",
        "cea":"./data/Dataset/Round1_T2D/gt/CEA_Round1_gt_WD.csv",
        "cpa":"./data/Dataset/Round1_T2D/gt/CPA_Round1_gt.csv",
        "cta": "./data/Dataset/Round1_T2D/gt/CTA_Round1_gt.csv"
    },
    "Round3": {
        "tables": "./data/Dataset/Round3_2019/tables/",
        "cea":"./data/Dataset/Round3_2019/gt/CEA_Round3_gt_WD.csv",
        "cpa":"./data/Dataset/Round3_2019/gt/CPA_Round3_gt.csv",
        "cta": "./data/Dataset/Round3_2019/gt/CTA_Round3_gt.csv"
    },
    "Round4": {
        "tables": "./data/Dataset/Round4_2020/tables/",
        "cea":"./data/Dataset/Round4_2020/gt/cea.csv",
        "cpa":"./data/Dataset/Round4_2020/gt/cpa.csv",
        "cta": "./data/Dataset/Round4_2020/gt/cta.csv"
    },
    "2T-2020": {
        "tables":"./data/Dataset/2T_Round4/tables/", 
        "cea":"./data/Dataset/2T_Round4/gt/cea.csv",
        "cpa": None,
        "cta": "./data/Dataset/2T_Round4/gt/cta.csv"
    },
    "HardTableR2-2021": {
        "tables":"./data/Dataset/HardTablesR2/tables/", 
        "cea":"./data/Dataset/HardTablesR2/gt/cea.csv",
        "cpa":"./data/Dataset/HardTablesR2/gt/cpa.csv",
        "cta": "./data/Dataset/HardTablesR2/gt/cta.csv"
    },
    "HardTableR3-2021": {
        "tables":"./data/Dataset/HardTablesR3/tables/", 
        "cea":"./data/Dataset/HardTablesR3/gt/cea.csv",
        "cpa":"./data/Dataset/HardTablesR3/gt/cpa.csv",
        "cta": "./data/Dataset/HardTablesR3/gt/cta.csv"
    },
    "mammotab": {
        "tables":"./data/Dataset/mammotab-sample/tables/", 
        "cea":"./data/Dataset/mammotab-sample/gt/cea.csv",
        "cpa":None,
        "cta": "./data/Dataset/mammotab-sample/gt/cta.csv"
    }
}

id_dataset = "2T-2020"
tables_path, cea_target_path, cpa_target_path, cta_target_path = list(dataset[id_dataset].values())

In [6]:
import math
math.ceil(2/25)

1

In [29]:
file = pd.read_csv("./data/2T-2020/tables/0D70DN48.csv")
tables = [{"datasetName": "2T", "tableName": "0D70DN48", "rows":[]}]
for id_row, row in enumerate(file.values.tolist()):
    tables[0]["rows"].append({"idRow": id_row+1, "data": row})
tables[0]["rows"] = tables[0]["rows"][:49]

In [ ]:
math.floor(len(tables[0]["rows"])/25)

In [30]:
import numpy as np

out = np.array_split(tables[0]["rows"], math.floor(len(tables[0]["rows"])/25))
len(out[0])

49

In [2]:
buffer = []
for id_dataset in dataset:
    tables_path, cea_target_path, cpa_target_path, cta_target_path = list(dataset[id_dataset].values())
    temp = utils.get_stats_on_dataset(cea_target_path, cpa_target_path, cta_target_path, tables_path)
    buffer.append(dict({"dataset":id_dataset},**temp))

100%|██████████| 64/64 [00:00<00:00, 363.79it/s]
100%|██████████| 2162/2162 [00:04<00:00, 472.35it/s]
100%|██████████| 22207/22207 [00:55<00:00, 399.66it/s]
100%|██████████| 181/181 [00:00<00:00, 225.34it/s]
100%|██████████| 3501/3501 [00:03<00:00, 1074.91it/s]
100%|██████████| 14414/14414 [00:12<00:00, 1178.68it/s]
100%|██████████| 13201/13201 [00:26<00:00, 506.49it/s]

In [3]:
pd.DataFrame(buffer)

,dataset,tables,columns,avg_columns,rows,avg_rows,classes,entities,predicates
0,Round1_T2D,64,323,5.05,9089,142.02,119,8078,115
1,Round3,2161,9736,4.51,152753,70.69,5761,390456,7574
2,Round4,22207,78750,3.55,475897,21.43,31921,994920,56475
3,2T-2020,180,802,4.46,194438,1080.21,539,667243,0
4,HardTableR2-2021,1750,5589,3.19,29280,16.73,2190,47439,3835
5,HardTableR3-2021,7207,17902,2.48,58949,8.18,7206,58948,10694
6,mammotab,13201,82499,6.25,283263,21.46,25169,279104,0

In [13]:
utils.get_stats_on_dataset(cea_target_path, cpa_target_path, cta_target_path, tables_path)
# tables, columns, rows, classes, entities, predicates, kg

100%|██████████| 14414/14414 [00:06<00:00, 2273.56it/s]

{'tables': 7207,
 'columns': 17902,
 'rows': 58949,
 'classes': 7206,
 'entities': 58948,
 'predicates': 10694}

In [7]:
total_rows, total_columns  = (0, 0)
for table in tqdm(os.listdir(tables_path)):
    if table.startswith("."):
        continue
    data = pd.read_csv(f"{tables_path}/{table}")    
    total_rows += len(data)
    total_columns += len(data.columns)
    break
cea_target = pd.read_csv(cea_target_path) 
cpa_target = pd.read_csv(cpa_target_path) 
cta_target = pd.read_csv(cta_target_path) 
classes, entities, predicates = (len(cea_target), len(cpa_target), len(cta_target))
classes, entities, predicates

  0%|          | 0/22387 [00:00<?, ?it/s]

(1662164, 56475, 32461)

In [6]:
import pandas as pd
import os
from tqdm import tqdm
import json
import utils.utils as utils
import random

tables_path = "./data/mammotab_20220815/tables/" # put here the path of tables dataset
cea_target_path = './data/mammotab_20220815/gt/cea_gt.csv'
cta_target_path = './data/mammotab_20220815/gt/cta_gt.csv'
id_dataset = "mammotab" # put here the dataset name your to gav

tables = os.listdir(tables_path)


random.shuffle(tables)
stats = []
for table in tqdm(tables[0:15000]):
    data = pd.read_csv(f"{tables_path}/{table}")
    stats.append({"table":table, "rows":len(data), "none": data.apply(lambda x: (x=="None").sum(), axis='columns').sum()})

100%|██████████| 15000/15000 [01:02<00:00, 238.88it/s]

In [2]:
pip install wikimapper

Collecting wikimapper
  Downloading wikimapper-0.1.17.tar.gz (18 kB)
  Preparing metadata (setup.py) ... done
Building wheels for collected packages: wikimapper
  Building wheel for wikimapper (setup.py) ... done
  Created wheel for wikimapper: filename=wikimapper-0.1.17-py3-none-any.whl size=15556 sha256=23ee84a81303407539d0b0804e5e1ccf9b97a3c07d869cd65ae7c9ecfa60ad85
  Stored in directory: /home/jovyan/.cache/pip/wheels/8c/14/ff/8a9c4503d1a05fb54f75c3f357aa7e63ed44e686625a97c1e1
Successfully built wikimapper
Installing collected packages: wikimapper
Successfully installed wikimapper-0.1.17
Note: you may need to restart the kernel to use updated packages.

In [52]:
from wikimapper import WikiMapper
import pandas as pd

mapper = WikiMapper("data/index_enwiki-20190420.db")
wikidata_id = mapper.title_to_id("Be_First_(Regeneration)_Limited")
print(wikidata_id) # Q28865

None

In [55]:
df = pd.read_csv("data/temp.csv")
for i, row in df.iterrows():
    print(row["Wikipedia URL"], row["Wikipedia URL"].split("/")[-1])
    df.at[i, "Wikipedia URL"] = row["Wikipedia URL"].split("/")[-1]
    df.at[i, "Wikidata"] = mapper.title_to_id(row["Wikipedia URL"].split("/")[-1])

https://en.wikipedia.org/wiki/Allerdale_Borough_Council Allerdale_Borough_Council
https://en.wikipedia.org/wiki/Be_First_(Regeneration)_Limited Be_First_(Regeneration)_Limited
https://en.wikipedia.org/wiki/Cleeve_School Cleeve_School
https://en.wikipedia.org/wiki/Construction_Procurement_Delivery Construction_Procurement_Delivery
https://en.wikipedia.org/wiki/Nobel_House Nobel_House
https://en.wikipedia.org/wiki/Driver_and_Vehicle_Licensing_Agency Driver_and_Vehicle_Licensing_Agency
No Wikipedia page found No Wikipedia page found
https://en.wikipedia.org/wiki/Southend-on-Sea Southend-on-Sea
https://en.wikipedia.org/wiki/Southport_and_Ormskirk_Hospital_NHS_Trust Southport_and_Ormskirk_Hospital_NHS_Trust
https://en.wikipedia.org/wiki/Thirteen_Group_of_Housing_Associations Thirteen_Group_of_Housing_Associations
https://en.wikipedia.org/wiki/Tyne_and_Wear_Fire_and_Rescue_Service Tyne_and_Wear_Fire_and_Rescue_Service
https://en.wikipedia.org/wiki/Manchester_Outer_Ring_Road Manchester_Outer_Ring_Road
https://en.wikipedia.org/wiki/North_of_England_Commissioning_Support_Unit North_of_England_Commissioning_Support_Unit
https://en.wikipedia.org/wiki/Nuneaton_%26_Bedworth Nuneaton_%26_Bedworth

In [26]:
mapper.title_to_id(row["Wikipedia URL"].split("/")[-1])

In [ ]:
row["Wikipedia URL"].split("/")[-1]

'Nuneaton_%26_Bedworth'

In [56]:
df

,Entity Mentioned,Confidence Score,Wikipedia URL,Wikidata
0,Allerdale Borough Council,0.534,Allerdale_Borough_Council,Q1532953
1,Be First,0.781,Be_First_(Regeneration)_Limited,None
2,Cleeve School and Sixth Form Centre of Excellence,0.809,Cleeve_School,Q5131066
3,Construction Procurement Delivery (CPD),0.821,Construction_Procurement_Delivery,None
4,Nobel House,0.408,Nobel_House,None
5,DVLA,0.989,Driver_and_Vehicle_Licensing_Agency,Q5308010
6,P & L Properties,0.205,No Wikipedia page found,None
7,Britannia Business Park,0.439,Southend-on-Sea,Q203995
8,Southport,0.244,Southport_and_Ormskirk_Hospital_NHS_Trust,Q17062119
9,Thirteen Housing,0.871,Thirteen_Group_of_Housing_Associations,None
10,Tyne and Wear Fire and Rescue,0.853,Tyne_and_Wear_Fire_and_Rescue_Service,Q7860504
11,Manchester Outer Ring Road,0.420,Manchester_Outer_Ring_Road,Q1629418
12,"NECS, John Snow House",0.642,North_of_England_Commissioning_Support_Unit,None
13,Nuneaton,0.329,Nuneaton_%26_Bedworth,None

In [57]:
df.to_csv("data/table.csv", index=False)